/* style.css */
html, body { height: 100%; margin: 0; font-family: Arial, sans-serif; }
#app { height: 100%; }

#landing {
  position: fixed; inset: 0;
  background: #083c40;
  color: #fff;
  display: flex; align-items: center; justify-content: center;
  z-index: 9999;
}
.landing-card{
  width: min(900px, 92vw);
  background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.12);
  border-radius: 18px;
  padding: 28px;
  text-align: right;
}
.landing-title{ font-size: 34px; margin: 0 0 10px; }
.landing-sub{ opacity: .9; margin: 0 0 18px; line-height: 1.8; }
.btns{ display: flex; gap: 10px; justify-content: flex-end; flex-wrap: wrap; }
button{
  border: 0; border-radius: 12px; padding: 10px 14px;
  cursor: pointer; font-weight: 700;
}
.primary{ background: #ffffff; color: #083c40; }
.secondary{ background: rgba(255,255,255,0.12); color: #fff; border: 1px solid rgba(255,255,255,0.22); }

#mapWrap{ height: 100%; display: block; }
#map { height: 100%; }

#topbar{
  position: absolute; top: 12px; right: 200px;
  left: 100;
  z-index: 1000;
  display: flex; gap: 10px; flex-wrap: wrap;
}
.pill{
  background: rgba(0,0,0,0.55);
  color: #fff;
  padding: 10px 12px;
  border-radius: 12px;
  font-size: 14px;
}

#msg{
  position: absolute; bottom: 12px; left: 12px;
  z-index: 1000;
  max-width: 520px;
  background: rgba(0,0,0,0.65);
  color: #fff;
  padding: 12px 14px;
  border-radius: 12px;
  line-height: 1.7;
  display: none;
}

.legend{
  background: rgba(255,255,255,0.95);
  padding: 10px 12px;
  border-radius: 12px;
  font-size: 13px;
  line-height: 1.6;
}
.legend .row{ display:flex; align-items:center; gap:8px; margin:4px 0; }
.legend .swatch{ width:14px; height:14px; border-radius: 3px; border:1px solid #999; }
.zone-label {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 13px;
  font-weight: 600;
}
/* North Arrow */
#northArrow{
  position: absolute;
  left: 3%;
  top: 12px;
  z-index: 1200;
  width: 40px;
  height: 55px;
  background: rgba(255,255,255,0.92);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.18);
  user-select: none;
}

#northArrow .n{
  font-weight: 900;
  font-size: 16px;
  color: #111;
  line-height: 1;
}

#northArrow .arrow{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 26px solid #111;  /* السهم للأعلى */
}
/* Map Scale - Bottom Center */
.leaflet-control-scale {
  position: absolute !important;

  left: 50%;
  bottom: 12px;
  

  background: rgba(255,255,255,0.92);
  padding: 6px 10px;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.18);
  font-size: 12px;

  z-index: 1200;
}
